<h1 id="welcomeId">Welcome to ChartMd</h1>
<p id="welcomeMsg">This is a sample app, we created with the idea of helping
  Doctors and Patients communicate. What you will see so far is the ability to
  create new doctors, and have them log into the app. From there the doctor can
  view existing patients and their ailments; or the doctor can create a new
  patient entry and input the patient data and save it to the database.
</p>