<div class="container">
  <form class="container inputContainer justify-content-center" id="signinBtn">
    <h1 class="h3 mb-3 mt-5 text-center fw-normal" id="signIn">Please sign in</h1>    
    <div class="form-floating input">
      <input type="text" class="form-control" id="usernameField" placeholder="Username">
      <label for="usernameField">Username</label>
    </div>
    <div class="form-floating input">
          <input type="password" class="form-control" id="passwordField" placeholder="Password">
          <label for="passwordField">Password</label>
        </div>
    <button type="submit" class="btn btn-primary d-grid col-2 mx-auto" >Sign In</button>
  </form>
</div>
