<div class="container d-flex">
    <form class="container justify-content-center">
      <h1 class="h3 mb-3 mt-5 fw-normal text-center">Please sign up</h1>
      <div class="form-floating mb-3 col-6 d-flex justify-content-center offset-md-3">
        <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
        <label for="emailField">Email Address</label>
      </div>
      <div class="form-floating mb-3 col-6 d-flex justify-content-center offset-md-3">
        <input type="text" class="form-control" id="usernameField" placeholder="Username">
        <label for="usernameField">Username</label>
      </div>
      <div class="form-floating mb-3 col-6 d-flex justify-content-center offset-md-3">
            <input type="password" class="form-control" id="passwordField" placeholder="Password">
            <label for="passwordField">Password</label>
        </div>
      <button type="submit" class="btn d-grid col-2 mx-auto" id="signupBtn">Sign Up</button>
    </form>
</div>