<div class="container">
  <div class="welcomeHeader"></div>
  <div class="createPostHeader"></div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="postTitleField" class="form-label">Title:</label>
        <input type="text" class="form-control" id="postTitleField">
      </div>
      <div class="mb-3">
        <label for="postContentField" class="form-label">Content:</label>
        <textarea class="form-control" id="postContentField" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary d-grid col-2 mx-auto" id="addPostBtn">Add Post</button>
    </form>
  </div>
</div>