:root {
    --headerFont: 'Orbitron', sans-serif;
    --bodyFont: 'Bai Jamjuree', sans-serif;
    --primarycolor: rgb(185, 199, 204);
    --secondarycolor: rgb(0, 209, 0);
    --boldcolor: rgb(0, 0, 0);
    --tertiarycolor: rgb(115, 123, 128);
}

body {
    background-color: var(--primarycolor);
    font-family: var(--bodyFont);
    color: var(--boldcolor);
}

.navbar {
    background-color: var(--boldcolor);
}

.nav-link {
    color: var(--tertiarycolor);
    margin-right: 20px;
    font-size: 24px;
}

.nav-link:hover {
    color: var(--secondarycolor)
}

#Title {
    font-family: var(--headerFont);
    color: var(--secondarycolor);
    background-color: var(--primaryColor);
    font-size: 56px;
    margin-left: 50px;
}

#welcomeId {
    font-weight: bolder;
    font-size: 68px;
    color: var(--boldcolor);
    text-align: center;
    margin-top: 50px;
    font-family: var(--headerFont);
}

#welcomeMsg {
    font-size: 24px;
    margin: 30px;
    font-family: var(--bodyFont);

}

.welcomeHeader, .createPostHeader {
    background-color: var(--boldcolor);
    color: var(--secondarycolor);
    font-family: var(--headerFont);
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.createPostHeader {
    font-size: 20px;
    font-family: var(--bodyFont);
}

.postCard {
    background-color: var(--tertiarycolor);
    color: var(--boldcolor);
    font-family: var(--bodyFont);
    flex-direction: column;
    border: solid 2px var(--boldcolor);
    border-radius: 5px;
    margin: 10;
    padding: 0;
}

.card-header {
    font-size: 24px;
    text-align: center;
    font-family: var(--headerFont);
    background-color: var(--boldcolor);
    color: var(--secondarycolor);
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 20px;
}

.btn {
    background-color: var(--boldcolor);
    border-color: var(--boldcolor);    
}

.btn:hover {
    color: var(--secondarycolor);
    background-color: var(--boldcolor);
    border-color: var(--boldcolor);
}