:root {
    --headerFont: 'Orbitron', sans-serif;
    --bodyFont: 'Bai Jamjuree', sans-serif;
    --primarycolor: rgb(185, 199, 204);
    --secondarycolor: rgb(0, 209, 0);
    --boldcolor: rgb(0, 0, 0);
    --tertiarycolor: rgb(115, 123, 128);
}

body {
    background: url('https://media2.giphy.com/media/smzfl3E7a4iHK/giphy.gif?cid=ecf05e47eolr4qhb1wo8jboft7nteh8kot4rdc1y0blw7g0u&rid=giphy.gif&ct=g');
    font-family: var(--bodyFont);
    color: var(--secondarycolor);
}

.navbar {
    background-color: var(--boldcolor);
    display: flex;
    flex-direction: row;
}

.nav {
    justify-content: flex-end;
}

.nav-link {
    color: var(--primarycolor);
    margin-right: 20px;
    font-size: 24px;
}

.nav-link:hover {
    color: var(--secondarycolor)
}

#Title {
    font-family: var(--headerFont);
    color: var(--secondarycolor);
    background-color: var(--primaryColor);
    font-size: 56px;
    margin-left: 50px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.input {
    color: var(--boldcolor);
    width: 50%;
    margin-bottom: 10px;
}

h1 {
    background-color: var(--boldcolor);
}

#welcomeId {
    font-weight: bolder;
    font-size: 68px;
    color: var(--secondarycolor);
    text-align: center;
    margin: 10px;
    font-family: var(--headerFont);
    background-color: var(--boldcolor);
}

#welcomeMsg {
    font-size: 24px;
    margin: 10px;
    font-family: var(--bodyFont);
    text-align: center;
    color: var(--secondarycolor);
    background-color: var(--boldcolor);
}

.welcomeHeader, .createPostHeader {
    background-color: var(--boldcolor);
    color: var(--secondarycolor);
    font-family: var(--headerFont);
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

.createPostHeader {
    font-size: 20px;
    font-family: var(--bodyFont);
}

.postCard {
    background-color: var(--tertiarycolor);
    color: var(--boldcolor);
    font-family: var(--bodyFont);
    flex-direction: column;
    border: solid 1px var(--primarycolor);
    border-radius: 5px;
    margin: 10;
    padding: 0;
}

.card-header {
    font-size: 24px;
    text-align: center;
    font-family: var(--headerFont);
    background-color: var(--boldcolor);
    color: var(--secondarycolor);
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 20px;
}

.form-label {
    background-color: var(--boldcolor);
    color: var(--secondarycolor);
}

.addComment {
    background-color: var(--tertiarycolor);
}

.comments {
    text-align: center;
    background-color: var(--boldcolor);
}

.postBtns {
    display: flex;
    margin: 10px;
    justify-content: space-around;
}

.postTitle {
    color: var(--secondarycolor);
    text-align: center;
}

.postContent, .commentText {
    color: var(--boldcolor)
}

.btn {
    background-color: var(--boldcolor);
    border-color: var(--tertiarycolor); 
    color: var(--primarycolor);
    font-family: var(--headerFont);
    font-size: 20px;
    width: 200px;
    height: 50px;
}

.btn:hover {
    color: var(--secondarycolor);
    background-color: var(--boldcolor);
    border-color: var(--secondarycolor);
}

@media screen and (max-width: 991px) {
    #Title {
        margin: 0 auto;
    }
    #welcomeId {
        margin: 5px;
    }
    .navbar {
        flex-direction: column;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    .nav-link {
        font-size: 20px;
        text-align: center;
        margin: top 5px;
    }
    .input {
        width: 75%;
    }
   .welcomeHeader, .createPostHeader, .comments {
    margin: 10px;
}
}